* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:rgb(242, 243, 240);
    font-size: 62.25%;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-top: 20px;
}

.movie{
    max-width: 1200px;
    padding: 30px 30px;
    display:flex;
    justify-content: start; 
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px auto;


}

.container-movies{
    position: relative;
    background-color:rgb(242, 243, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-height: 500px;
    max-width: 200px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.movies__img-container{
    max-height: 250px;
    overflow: hidden;
   
    
}

.movies__img{
    object-fit: cover;
    width: 101%;
    
}

.movies__info{
    min-height: 100px;
    
}

.movies__name{
    font-size: 1rem;    
}

.nonFavorite{
    display: flex;
    cursor: pointer;
    position: absolute;
    transform: translate(150px,-150px);
    width: 2rem;
    height: 2rem;
    color:rgb(229, 229, 229);
    font-size: 2rem;
    border-radius: 50% 50%;
    background-color: rgba(113, 113, 113, 0.29);
    justify-content: center;
    align-items: center;
}

.favorite{
    background-color: rgba(235, 125, 125, 0.564);
    color: rgba(237, 2, 2, 0.9);

}

.container-nav{
    max-width: 1000px;
    min-height: 40vh;
    background-image: url(https://images3.alphacoders.com/855/thumb-1920-85585.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 50% 90%;
    display: flex;
    justify-content: center;
    

}

.searchbar{
    margin-top: 20px;
    font-size: 0.7rem;
    width: 30%;
    height: 30px;
    background-color: rgba(240, 240,240,.1);
    border-radius: 6px;
    border: 2px solid rgb(27, 27, 27);
    padding-left: 10px;
    
}

.searchbar::placeholder{
    color:  rgb(27, 27, 27);;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;

}

.max-container{
    max-width: 1000px;
    margin:0 auto;
}

.addMovie{
    position: relative;
    max-width: 1200px;
    padding: 0 auto;
    height: 600px;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/109/328/1024/quentin-tarantino-the-hateful-eight-wallpaper-preview.jpg');
    background-size: cover;
}

.formulario{
    width: 300px;
    position: absolute;
    transform: translate(50%,25%);
    transform-origin: 50%;
    background-color: rgba(0, 0, 0, 0.288);
    display: inline-block;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
.form-input {
    margin: .5rem 1rem;
    padding-left: 3px;
    border-radius: 8px;
    border:0;
    height: 30px;
     
}

.form-label{
    color: white;
    margin: 0 1rem;
}

.range{
    cursor: pointer;
    background: aquamarine;
}

.btn{
    color: white;
    margin: 0 1rem;
    height: 40px;
    border-radius: 8px;
    border: solid 0 white;
    background-color:rgb(42, 171, 42);
}

.btn:hover{
    background-color:rgb(72, 205, 72);
    cursor: pointer;
}

