* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:rgb(34, 34, 34);
    font-size: 62.25%;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: rgb(242, 243, 240);
}
h2 {
    margin-top: 20px;
    word-break: break-all;
}
.main-display{
    display: grid;
    grid-template-areas:
        "head head head "
        "toWatch toWatch toWatch"
        "watched watched aside"
        "add-movie add-movie add-movie";
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: 1.2fr 1.2fr .8fr;
}

.nav{
    grid-area: head;
    width: 100%;
    
}
.watched{
    grid-area: watched;
}
.toWatch{
    grid-area: toWatch;
}

.movie{
    padding: 30px 30px;
    display:flex;
    justify-content: start; 
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 40px;
    margin: 20px auto;
}

.movie_carrousel{
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.container-movies{
    position: relative;
    background-color:rgb(242, 243, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.movies__img-container{
    max-height: 250px;
    overflow: hidden;
   
    
}

.movies__img{
    object-fit: cover;
    width: 101%;
    
}

.movies__info{
    min-height: 100px;
    padding-left: 5px;
    
    
}

.movies__name{
    font-size: 1rem;
       
}

.hidden__favorite{
    display: none;
}
.non__favorite{
    display: flex;
    cursor: pointer;
    position: absolute;
    transform: translate(150px,-150px);
    width: 2rem;
    height: 2rem;
    color:rgb(229, 229, 229);
    font-size: 2rem;
    border-radius: 50% 50%;
    background-color: rgba(113, 113, 113, 0.29);
    justify-content: center;
    align-items: center;
}

.favorite{
    background-color: rgba(235, 125, 125, 0.564);
    color: rgba(237, 2, 2, 0.9);

}

.container-nav{
    max-width: 1000px;
    min-height: 45vh;
    background-image: url(./img/fondo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 15% 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    

}


.searchbar{
    margin-top: 20px;
    font-size: 0.7rem;
    width: 30%;
    height: 30px;
    background-color: rgba(240, 240,240,.1);
    border-radius: 6px;
    border: 2px solid rgb(27, 27, 27);
    padding-left: 10px;
    
}

.searchbar::placeholder{
    color:  rgb(27, 27, 27);;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;

}

.max-container{
    max-width: 1000px;
    margin:0 auto;
}

.addMovie{
    width: 100%;
    grid-area: add-movie;
    position: relative;
    max-width: 1200px;
    padding: 0 auto;
    height: 600px;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/109/328/1024/quentin-tarantino-the-hateful-eight-wallpaper-preview.jpg');
    background-size: cover;
}

.formulario{
    width: 300px;
    position: absolute;
    transform: translate(50%,25%);
    transform-origin: 50%;
    background-color: rgba(0, 0, 0, 0.288);
    display: inline-block;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
.form-input {
    margin: .5rem 1rem;
    padding-left: 3px;
    border-radius: 8px;
    border:0;
    height: 30px;
     
}

.form-label{
    color: white;
    margin: 0 1rem;
}

.range{
    cursor: pointer;
    background: aquamarine;
}

.btn{
    color: white;
    margin: 0 1rem;
    height: 40px;
    border-radius: 8px;
    border: solid 0 white;
    background-color:rgb(42, 171, 42);
}

.btn:hover{
    background-color:rgb(72, 205, 72);
    cursor: pointer;
}

/****** lista de favoritos ***********/
.favourite-list{
    position: relative;
    grid-area: aside;
    padding-top: 1.4rem;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-style: italic;
    
    border-color: rgb(205, 205, 205);
    
  }

.list{
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    list-style-type:none;
    display: flex;
    width: 100%;
    max-width: 250px;
    min-height: 70px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;

}

.favourite-list__title{
    color: rgb(0, 0, 0);
    z-index: 1;
}
.item{
    position:relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 101%;
    height: 70px;
    
    
}

.item__title{
    position:absolute;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    text-align: center;


}

.item__img{
    object-fit: scale-down;
    filter: brightness(0.6);
}


