* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:#7B7B7B;
    font-size: 62.25%;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: #191919;
}
h2 {
    margin-top: 20px;
    color: #E8E8E8;
}
.max-container{
    max-width: 100vw;
    margin:0 auto;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
/*************** GENERAL GRID ******/
.main-display{
    display: grid;
    grid-template-areas:
        "nav head head favourite-list "
        "nav toWatch toWatch favourite-list"
        "nav watched watched favourite-list"
        "nav add-movie add-movie favourite-list";
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns:.6fr 1.4fr 1.4fr .6fr;
}


.nav{
    grid-area: head;
    width: 100%;
    
}
.watched{
    grid-area: watched;
}
.toWatch{
    grid-area: toWatch;
    width: 100%;
}

/********* movie cards *************/
.movie{
    padding: 30px 30px;
    display:flex;
    justify-content: start; 
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 30px;
    margin: 20px auto;
}

.movies-to-watch{
    width: 100%;
}
.movie_carrousel{
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.container-movies{
    position: relative;
    background-color:#212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 315px;
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius:20px ;

}

.movies__img-container{
    overflow: hidden;
   
    
}

.movies__img{
    height: 100%;
    object-fit: cover;   
}

.movies__info{
    position:absolute;
    display: inline;
    background: linear-gradient(0deg, rgba(0,0,0,0.8802871490393032) 0%, rgba(0,0,0,0.5749650201877626) 79%, rgba(0,0,0,0.40129555240064774) 90%, rgba(0,0,0,0) 100%);
    color: #E8E8E8;
    width: 100%;
    min-height: 100%;
    transform: translate(0,230px);
    padding-left: 10px;    
    transition: .4s ease-in-out; 
}

.movies__info:hover{
    transform: translate(0,0);
    background: rgba(0,0,0,0.8);
}

.movies__name{
    font-size: 1rem;
    word-break: break-all;
    width: 150px;
   
       
}
/* add to favorites hearth*/
.hidden__favorite{
    display: none;
}
.non__favorite{
    display: flex;
    cursor: pointer;
    position: absolute;
    transform: translate(155px,-133px);
    width: 2rem;
    height: 2rem;
    color:rgb(229, 229, 229);
    font-size: 2rem;
    border-radius: 50% 50%;
    background-color: rgba(113, 113, 113, 0.29);
    justify-content: center;
    align-items: center;
}

.favorite{
    background-color: rgba(235, 125, 125, 0.564);
    color: rgba(237, 2, 2, 0.9);

}

/* add to watched eye */
.non__watched{
    display: flex;
    cursor: pointer;
    position: absolute;
    transform: translate(155px,-133px);
    width: 2rem;
    height: 2rem;
    color:rgb(229, 229, 229);
    font-size: 2rem;
    border-radius: 50% 50%;
    background-color: rgba(113, 113, 113, 0.29);
    justify-content: center;
    align-items: center;

}

.yes__watched{
    background-color: rgba(64, 165, 106, 0.564);
    color: rgba(16, 236, 8, 0.9);
    transform: translate(115px,-133px);
}
/***************** SIDE NAV BAR **********************/

.side-nav {
    color:#666666 ;
    grid-area: nav;
    height: 100%;
    width: 240px;
    z-index: 1;
    position:fixed;
    background-color: #212121;
    overflow-x: hidden;
  }

.side-nav__logo{
    width: 50%;
}
.menu-list{
    width: 100%;
}

.menu-list i{
    padding-right:15px;

}
.menu-item{    
    width: 100%;
    font-size: 20px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a {
    color:#3DD2CC;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.menu-item__active{ 
    color:#3DD2CC;   
    width: 100%;
    background-color:rgba(61, 210, 204, 0.5);
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid rgba(61, 210, 204, 0.75);
}
.menu-item__active:hover{ 
    background-color:rgba(66, 230, 225, 0.5);
}
.menu-item:hover{
    background-color: #343434;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}



/***************** NAVIGATION BAR ********************/
.container-nav{
    max-width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

.buscador{
    width: 100%;
}


.btn-nav{
    color:rgb(0, 0, 0);
    font-size: 0.7rem;
    margin: 0 1rem;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    border: solid 2 rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0);
}

.btn-nav:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.searchbar{
    margin-top: 20px;
    font-size: 0.7rem;
    width: 100%;
    height: 40px;
    background-color: rgba(240, 240,240,.1);
    border-radius: 6px;
    border: 2px solid rgb(27, 27, 27);
    padding-left: 10px;
    outline: none;
    
}

.searchbar::placeholder{
    color:  rgb(149, 149, 149);;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;

}

.container-movies-search{
    position: relative;
    background-color:#212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius:20px ;
    overflow: hidden;

}

.movies__info-nav{
    position:absolute;
    display: inline;
    background: linear-gradient(0deg, rgba(0,0,0,0.8802871490393032) 0%, rgba(0,0,0,0.5749650201877626) 79%, rgba(0,0,0,0.40129555240064774) 90%, rgba(0,0,0,0) 100%);
    color: #E8E8E8;
    width: 100%;
    min-height: 100%;
    transform: translate(0,130px);
    padding-left: 10px;    
    transition: .4s ease-in-out; 
}


/************** Section: ADD MOVIE ******************************/
.addMovie{
    width: 100%;
    grid-area: add-movie;
    position: relative;
    max-width: 1200px;
    padding: 0 auto;
    height: 80vh;
    background-size: cover;
}

.addMovie__img{
    position: absolute;
    transform: scale(.4) translate(-10%,-50%) ;

}

.formulario{
    width: 300px;
    position: absolute;
    transform: translate(30%,15%);
    transform-origin: 50%;
    /* background-color: rgba(0, 0, 0, 0.288); */
    display: inline-block;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
.form-input {
    margin: .5rem 1rem;
    padding-left: 3px;
    border-radius: 8px;
    border:0;
    height: 30px;
     
}

.form-label{
    color:rgb(229, 229, 229);
    margin: 0 1rem;
}

.range{
    cursor: pointer;
    background: aquamarine;
}

.btn{
    color:rgb(229, 229, 229);
    margin: 0 1rem;
    height: 40px;
    border-radius: 8px;
    border: solid 0 rgb(229, 229, 229);
    background-color:rgb(42, 171, 42);
}

.btn:hover{
    background-color:rgb(72, 205, 72);
    cursor: pointer;
}

/*************** lista de favoritos ********************/
.favourite-list{
    position:relative;
    background-color: aquamarine;
    grid-area: favourite-list;
    padding-top: 1.4rem;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-style: italic;
    
    border-color: rgb(205, 205, 205);
    
  }

.list{
    margin-right: 2rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(169, 169, 169);
    list-style-type:none;
    display: flex;
    width: 100%;
    max-width: 220px;
    min-height: 70px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;

}

.favourite-list__title{
    color:rgb(229, 229, 229);
    z-index: 1;
}
.item{
    position:relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 101%;
    height: 70px;
    
    
}

.item__title{
    position:absolute;
    color:rgb(229, 229, 229);
    font-size: 1.2rem;
    z-index: 1;
    text-align: center;


}

.item__img{
    object-fit: scale-down;
    filter: brightness(0.6);
}

/***********  Barra de scroll*************/
::-webkit-scrollbar {
    width: 3px;
    height: 8px;
  }

::-webkit-scrollbar:hover {
    width: 3px;
    height: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #616161; 
    border-radius: 5px; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65); 
    border-radius: 5px; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 54, 54);
    border-radius: 5px;
  }

